<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./assets/global.css" />
    <link rel="stylesheet" href="./assets/tela-usuario.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="usurio">
      <img
        class="healthiconsui-user-profile"
        alt=""
        src="./public/healthiconsuiuserprofile.svg"
      />

      <div class="usurio-child"></div>
      <img class="usurio-item" alt="" src="./public/rectangle-15.svg" />

      <img class="vector-icon" alt="" src="./public/vector.svg" />

      <div class="usurio-inner"></div>
      <div class="rectangle-div"></div>
      <div class="usurio-child1"></div>
      <img class="rectangle-icon" alt="" src="./public/rectangle-17.svg" />

      <img class="vector-icon" alt="" src="./public/vector.svg" />

      <img class="vector-icon2" alt="" src="./public/vector.svg" />

      <div class="sobre-mim-container">
        <p class="sobre-mim">Sobre mim:</p>
        <p class="sobre-mim">-----------------------------------</p>
      </div>
      <div class="nome">Nome</div>
    </div>
  </body>
</html>
