body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: scroll; /* Adiciona uma barra de rolagem vertical */
    background: linear-gradient(to bottom, #0026FF, #00FEFE);
    background-attachment: fixed; /* Fixa o gradiente no lugar */

}
/* */
.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Três colunas, a segunda é duas vezes maior */
    gap: 4%;
    grid-template-rows: auto 1fr auto; /* Três linhas, a segunda é uma fração flexível */
    height: 100%; /* Altura da grade igual à altura da janela de visualização */
}

.nav{
    margin: 20px 20px 0 20px;
    grid-row: 1 / 1;
    grid-column: 1 / 4;
    height: 22%;
    padding: 20px;
    position: relative;
}
.icone-perfil{
    width: 7.5%;
    float: right;
    border-radius: 100px;
    text-align: center;
}
.logo{
    width: 10%;
    height: 10%;
    float: left;
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.ab{
    background-color: rgba(0, 0, 0, 0.09); /* Fundo vermelho com 50% de opacidade */
    height: 110%;
    width: 100%;
    margin-left: 2%;
    padding: 2%;
    border-radius: 10px;
}
.section{
    grid-row: 2;
    grid-column: 1/3;
/*     height: 88%;
    padding: 20px; */
    border-radius: 10px;
    height: 50%;

}
.content-section{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Três colunas, a segunda é duas vezes maior */
    gap: 50%;
    grid-template-rows: auto auto; /* Três linhas, a segunda é uma fração flexível */
    height: 100%;
}

.usuario{
    background-color: white;
    width: 100px;
    height: 30px;
    grid-row: 1/1;
    grid-column: 1/1;
    border-radius: 10px;
    padding: 5px;
    margin: 0;
    
}

.pub{
    margin-top: 10px;
    background-color: white;
    width: 870px;
    height: 100px;
    border-radius: 10px;
    padding: 5px;
}
.icone-post{
    width: 20px;
    height: 30px;
    margin-top: 5px;
    float: right;
    text-align: center;
}
.article{
    grid-row: 3 / 4;
    grid-column: 1/3;
/*     height: 110%; */
/*     margin-left: 20px; */
    border-radius: 10px;
}
.content-article{
    background-color: white;
    margin: 15px;
    padding: 10px;
    width: auto;
    height: auto;
    border-radius: 10px;
}
.conteudo-post{
    margin: 5px;
    background-color: #D9D9D9;
    height: auto;
    padding: 1%;
}
.aside{
    grid-row: 2 / 4;
    grid-column: 3 / 4;
    background-color: white;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    width: auto;
}
.footer{
    grid-row: 4;
    grid-column: 1/3;
/*     height: 60%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px; */
    border-radius: 10px;
}
.content-footer{
    margin: 1%;
    background-color: white;
    border-radius: 10px;
    height: 150%;
    padding: 0.9%;
}