<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./assets/global.css" />
    <link rel="stylesheet" href="./assets/cadastro.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap"
    />
  </head>
  <body>
    <div class="cadastro">
      <div class="cadastro-child"></div>
      <div class="cadastro-item"></div>
      <div class="cadastro-inner"></div>
      <img class="cadastro-child1" alt="" src="./public/rectaangle-21.svg" />

      <img class="cadastro-child2" alt="" src="./public/rectangle-21.svg" />

      <div class="cadastro-child3"></div>
      <div class="cadastro1">CADASTRO</div>
    </div>
  </body>
</html>
